body {
    font-size: 2rem;
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
  }
  html {
    background:black;
    background-size :cover;
    font-family:ariel;
    text-align: center;
    font-size: 10px;
  }
.clock{
    background-color: rgba(19, 43, 177, 0.308);
    border:50px solid rgb(94, 5, 5);
    border-radius:50%;
    height:40rem;
    width:40rem;
    margin:50px auto;
    padding:2rem;
    box-shadow: 0 0 10px 5px rgb(155, 56, 56);
      
   
}
.hand{

    width:50%;
    height:6px;
    background-color:blue; 
    position:absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(300deg);
    animation:animate 60s linear infinite;
    
}
span{
    position: absolute;
    background-color: aliceblue;
    width:4%;
    height:4%;
    top:48%;
    left:48%;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(155, 56, 56);
      

}
.clock-face {
    position:relative;
    width: 100%;
    height:100%;
    transform: translateY(0px); 
}
.hour-hand{
    position:absolute;
    
    
    background-color: blueviolet;
    transform: rotate(260deg);
    animation:animate 300s linear infinite;
}
.second-hand{
    position:absolute;
    background-color:coral;
    transform: rotate(210deg);
    animation:animate 5s linear infinite;
}
h1{
    color:azure;
  }

  @keyframes animate{
      0%{
          transform:rotate(0deg);
      }
      100%{
          transform : rotate(360deg);
          }
      }
  
  
  
